@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

body{
    color:$gray-900;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

img{
    max-width: 100%;
}

.user_login {
    margin: 0;
    padding: 0;
        li{
            display: inline-block;
            list-style: none;
            margin: 0;
            padding:0;
                a{
                    color: $black;
                    padding: 0 10px;
                    display: inline-block;
                    border-right: 1px solid $gray-900; 
                }
                :hover{
                    color:$yellow;
                    text-decoration: none;
                }
        }
        :last-child a{
            border:none;
        }
}
.cart{
    .cart_box{
        position: relative;
        padding-right: 10px;
        i{
            position: absolute;
            top: -10px;
            left: 16px;
            display: inline-block;
            padding: 0;
            background: $yellow;
            color: #fff;
            line-height: 18px;
            width: 20px;
            text-align: center;
            height: 20px;
            border-radius: 50%;
            font-size: 11px;
            font-style: normal;
        }
    }
    strong{
        color: $yellow;
        font-weight: normal;
    }
}

.right_inn {display: inline-flex;}



.custom_bg{
    background: $yellow;
        .nav-link{
            color: $red;
            font-size: 18px;
            font-weight: 500;
            color: $white !important;
        }
}
.banner{
    background: #1D0B00;
    padding:0;
        .banner_box{
            color: $white;
                h4{
                    color: $yellow;
                    font-weight: 800;
                    font-size: 44px;
                }
                p{
                    font-size: 25px;
                }
                h2{
                    font-size: 50px;
                        span{
                            font-size: 105px;
                        }
                }
                a.playnow_btn {
                    background: #01B623;
                    color: #fff;
                    padding: 10px 30px;
                    border-radius: 5px;
                    display: inline-block;
                    font-size: 20px;
                    font-weight: 500;
                }
        }
}

.lottery_games{
    padding: 50px 0;
        .games_box{
            padding: 15px;
            position: relative;
            border-radius: 8px; 
            overflow: hidden;
            margin-bottom: 15px;
            h4 {
                font-size: 31px;
                color: #fff;
                font-weight: 600;
                text-shadow: 0 5px 5px rgba(0,0,0,0.2);
                margin: 0;
            }
            p {
                font-size: 21px;
                color: #fff;
            }
            ul{
                margin: 0;
                padding: 0;
                position: relative;
                z-index: 9;
                font-size: 14px;
                color: $white;
                li{
                    list-style: none;
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    a{
                        background: #000;
                        padding: 4px 10px;
                        display: inline-block;
                        color: $white;
                    }
                }
            }
        }
        
        
}
.games_box::after{
    content:'';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/light.png) no-repeat top center;
    background-size: cover;
    opacity: 0.1;
    top: 0;
}
.orange_color {
    background-image: linear-gradient(to top right, rgba(255,187,0,1), rgba(255,128,0,1));
  }
.purpal_color {
background-image: linear-gradient(to top right, rgba(180,0,255,1), rgba(0,128,255,1));
}
.pink_color {
    background-image: linear-gradient(to top right, rgba(255,0,144,1), rgba(168,0,40,1));
}
.yellow_color {
    background-image: linear-gradient(to top right, rgba(255,187,0,1), rgba(3,190,47,1));
}

.strip_drow{
    h1{
        font-weight: 700;
    }
}
.satisfaction{
    background: url(../images/bg.jpg) top center no-repeat;
    background-size: cover;
    padding: 30px 0;
    color: $white;
    h1{
        font-weight: 700;
    }
}
.winners{
    padding: 50px 0;
    .winner_box{
        padding: 20px;
        border: 1px solid #000;
        border-radius: 8px;
        text-align: center;
        min-height: 360px;
        margin-top: 20px;
        .winimg_box{
            margin-bottom: 15px;
        }
        h5{
            font-size: 25px;
        }
        h2{
            font-weight: 700;
        }
        a{
            color: $black;
        }
        a:hover{
            color: $yellow;
            text-decoration: none;
        }

    }
}
footer{
    background-image: linear-gradient( #f2f2f2,#fff);
    padding-top: 40px;
    .footer_menu{
        text-align: center;
        padding: 10px 0;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        margin-top: 15px;
        display: block;
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                display: inline-block;
                a{
                    color: $black;
                    padding: 4px 10px;
                }
                :hover{
                    color: $yellow;
                    text-decoration: none;
                }
            }
        }
    }
    .footer_box{
        padding: 30px 0;
        h6{
            font-size: 21px;
        }
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                display: block;
                    a{
                      color: $black;
                      font-size: 16px;
                    }
                    :hover{
                        color: $yellow;
                        text-decoration: none;
                    }
            }

        }
    }
}
.social_media {
    a {
        color:$gray-600;
        padding: 0 7px;
        display: inline-block;
    }
    :hover{
        color: $yellow;
    }
}
.copywright{
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #ddd;
    p{
        font-size: 14px;
        margin: 0;
    }
}


h1{
    font-size: 44px;
    font-weight: 700;
}






@media screen and (max-width: 767px) {
    h1{font-size: 22px;}
    .banner .banner_box h2 span {font-size: 50px;}
    .banner .banner_box h2 {font-size: 25px;}
    .lottery_games{padding-top: 15px;}
    .right_side {padding: 15px 0; border-top: 1px solid #ddd;}
    .user_login li a{font-size: 15px;}
    .footer_box {border-bottom: 1px solid #ddd;}
    .top_header {text-align: center;}
    .right_inn {display: inline-flex; margin: 0 auto;}
  }